@{
    ViewData["Title"] = "Home";
}

<!-- banner_part -->
<section class="banner_part">...</section>

<!-- single_product_list -->
<section class="single_product_list">...</section>

<!-- trending_items -->
<section class="trending_items">...</section>

<!-- client_review -->
<section class="client_review">...</section>

<!-- feature_part -->
<section class="feature_part">...</section>

<!-- subscribe_part -->
<section class="subscribe_part">...</section>
